.nav_center {
    width :500px;

    justify-content: center;
    position:absolute;
    left:33%;
    top:20%;
    
    
}
.nav_center fieldset{
    position: absolute;
    width:500px;
    height:700px;
    font-weight: bold;
    font-size:18px;
    border-radius: 20px;
}

.nav_center ul {
    position: absolute;;
    justify-content: center;
    left:7%;
    top:10%;
}


.nav_center ul li{
    list-style-type:none;
    margin:10px;
    font-size:16px;
    font-weight: bold;
}

.nav_center ul li input{
    width : 350px;
    height :20px;
    font-weight: bold;
    border-radius:5px;
    border : 1px solid gray;

}

.nav_center div#require{
    position: absolute;
    top:5%;
    right:8%;
    font-size:16px
}

.nav_center ul li input#submit{
    width:100px;
    height:35px;
    position:absolute;
    left:180px;
    top:480px;
    background-color: #263343;
    color: white;
}